<div class="container-md">
  <div class="row g-4">
    <h2>Dodaj produkt</h2>
  </div>
  <form class="row g-3" (ngSubmit)="onSubmit()">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Typ produktu</label>
      <input type="email" class="form-control" id="inputEmail4" name="productType" [(ngModel)]="product.type">
    </div>
    <div class="col-md-4">
      <label for="inputCategory" class="form-label">Kategoria</label>
      <select id="inputCategory" class="form-select" name="productCategory" [(ngModel)]="product.category">
        <option *ngFor="let categories of categories" [value]="categories.name" >{{categories.name}}</option>
      </select>
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Tytuł</label>
      <input type="text" class="form-control" id="inputAddress" name="productTitle" [(ngModel)]="product.title">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Opis produktu</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="productDescription"
                [(ngModel)]="product.description"></textarea>
    </div>
    <div class="col-md-6">
      <label for="inputPrice" class="form-label">Cena</label>
      <input type="number" class="form-control" id="inputPrice" name="productPrice" [(ngModel)]="product.price">
    </div>
    <div class="col-md-4">
      <label for="inputBrand" class="form-label">Marka</label>
      <select id="inputBrand" class="form-select" name="productBrand" [(ngModel)]="product.brand" >
        <option *ngFor="let categories of categories" [value]="categories.producent" >{{categories.producent}}</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="inputSize" class="form-label">Rozmiar</label>
      <select id="inputSize" class="form-select" name="productBrand" [(ngModel)]="product.size">
        <option value="40">40</option>
        <option value="41">41</option>
        <option value="42">42</option>
        <option value="43">43</option>
        <option value="44">44</option>
        <option value="45">45</option>
      </select>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Dodaj</button>
    </div>
  </form>
</div>
