<div class="container-md">
<h2>Lista produktów</h2>
<table class="table table-primary table-striped table-bordered">
  <thead class="table-light">
  <tr>
    <th scope="col">Typ</th>
    <th scope="col">Kategoria</th>
    <th scope="col">Tytuł</th>
    <th scope="col">Opis</th>
    <th scope="col">Cena</th>
    <th scope="col">Marka</th>
    <th scope="col">Rozmiar</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of productArray">
    <td>{{product.type}}</td>
    <td>{{product.category}}</td>
    <td>{{product.title}}</td>
    <td>{{product.description}}</td>
    <td>{{product.price}}</td>
    <td>{{product.brand}}</td>
    <td>{{product.size}}</td>
  </tr>
  </tbody>
</table>
</div>
