<h2>Product list</h2>
<table >
  <thead>
  <tr>
    <th>Type</th>
    <th>Category</th>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
    <th>Brand</th>
    <th>Size</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of productArray">
    <td>{{product.type}}</td>
    <td>{{product.category}}</td>
    <td>{{product.title}}</td>
    <td>{{product.description}}</td>
    <td>{{product.price}}</td>
    <td>{{product.brand}}</td>
    <td>{{product.size}}</td>
  </tr>
  </tbody>
</table>
